<app-adminheader></app-adminheader>
<div class="row main container">
      <div class="col"> </div>
      <div class="col-11">
            <div>
                  <table class="table">
                        <thead>
                              <tr>
                                    <td>{{'Details of '+employee.firstname+" "+employee.lastname}}</td>
                                    <td></td>
                              </tr>
                        </thead>
                        <thead>
                              <tr>
                                    <th>#</th>
                                    <th>Details</th>
                                    
                              </tr>
                        </thead>
                        <tbody>
                              <tr>
                                    <th>Id</th>
                                    <td>{{employee.id}}</td>
                              </tr>
                              <tr>
                                    <th>First Name</th>
                                    <td>{{employee.firstname}}</td>  
                              </tr>
                              <tr>
                                    <th>Last Name</th>
                                    <td>{{employee.lastname}}</td>  
                              </tr>
                              <tr>
                                    <th>email</th>
                                    <td>{{employee.email}}</td>  
                              </tr>
                        </tbody>
                  </table>
                  <div>
                        <a [routerLink]='["/employee"]' class="btn btn-primary">Employee</a>&nbsp;&nbsp;&nbsp;
                        <a (click)="deleteEmp()" class="btn btn-danger">Delete</a>&nbsp;&nbsp;&nbsp;
                        <a [routerLink]="[('/employeeupdate/'+ employee.id)]" class="btn btn-secondary">update</a>&nbsp;&nbsp;&nbsp;
                  </div>
            </div>
      </div>
      <div class="col">
          
      </div>
</div>