<div class="container maindiv">
      <div class="row">
            <div class="col-6">
                  <div class="links">
                        <a><b>Portal</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a [routerLink]="['/home']" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a [routerLink]="['/employee']" routerLinkActive="active" ariaCurrentWhenActive="page">Employee</a>
                  </div>
            </div>
            <div class="col-6">
                  <div class="serchdiv">
                        <input type="text" placeholder="Search" class="form-control">
                  </div>
            </div>
      </div>
</div><hr>
